
<%if current_user.typeuser.to_i == 1 || current_user.typeuser.to_i == 2 %>
<div class="jumbotron">
<h2>Editar el Proyecto</h2>

<%= render 'form' %>

<a href="javascript:history.back()" class="btn btn-primary btn-lg" style="top:-124px;left:70px;position:relative;">Atrás</a>

<%else%>
<h1>Acceso denegado :)</h1>
<%= link_to 'Atrás', root_path, class: 'btn btn-primary btn-sm', :style => "float:left" %>
<% end %>
	