<% if current_user.typeuser.to_i == 3 || current_user.typeuser.to_i == 2 || current_user.typeuser.to_i == 1 %>
<h1>Ingresa Nueva actividad</h1>

<%= render 'form' %>

<%= link_to 'atras', works_path ,:class=>"btn btn-primary btn-lg",:style=> "top:-65px;position:relative;"%>
<%else%>
<h1>Acceso denegado :)</h1>
<%= link_to 'atras', root_path, class: 'btn btn-primary btn-sm', :style => "float:left;" %>
<% end %>